{{ define "Nav" }}

<nav>
  <ul>
    <li><strong>Highrock Lake Weather</strong></li>
  </ul>
  <!-- <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#" role="button">Button</a></li>
  </ul> -->
</nav>
{{ end }}
